{% extends "layout.html" %}
    {% block body %}
        <div><a href="about">About</a></div>

        <form action="success" method="Get">
            <input name="new_data" type="text">
            <input type="submit" value="request">
        </form>

        <form action="query_view" method="get">
            <input name="q" type="text">
            <input type="submit" value="search">
        </form>
        {% for item in results %}
        <p>{{item.url}}</p>
        <p>{{item.description  | safe}}</p>
        {% endfor %}

        {% for page_index in range(1, page_cnt+1) %}
            <a href="query_view?q={{ search_term }}& p={{ page_index}}">{{ page_index }}</a>
        {% endfor %}

        
    {% endblock %}

        

        
   